@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Account.ActivateAccountModel

@{
	ViewBag.Title = "Активация аккаунта";
}

<div class="simple-page-body section-shadow">
	<div class="section-module-header">
		<div class="module-title">Завершение активации аккаунта</div>
	</div>
	@if (Model.AccountWasActivated)
	{
		<div class="message-body">
			<h2>
				Ваш аккаунт был успешно активирован!
			</h2>
			<span class="message">
				Добро пожаловать на LSD Team! По существующим вопросам пожалуйста обращайтесь к администратору.
			</span>
			<span class="message">
				<a href="@(WebBuilder.BuildActionUrl<HomeController>(m => m.Index()))">Главная страница</a>
			</span>
		</div>
	}
	else
	{
		<div class="message-body">
			<h2>
				При активации аккаунта возникли проблемы!
			</h2>
			<span class="message">
				Пожалуйста проверьте правильность ссылки. В противном случае обратитесь к администратору!
			</span>
			<span class="message">
				<a href="@(WebBuilder.BuildActionUrl<HomeController>(m => m.Index()))">Главная страница</a>
			</span>
		</div>
	}
</div>
