@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@using LeagueSoldierDeathTeam.Site.Models.Account
@{
	Layout = null;
}

@if (Request.IsAuthenticated)
{
	<div class="log-off">
		<span>
			Добро пожаловать,&nbsp;<a data-type="auth-name" href="@(WebBuilder.BuildActionUrl<AccountProfileController>(o => o.ProfileInfo(AppContextCustom.Current.CurrentUser.Id)))">@AppContextCustom.Current.CurrentUser.UserName</a>&nbsp;
		</span>
		<a href="@(WebBuilder.BuildActionUrl<AccountController>(o => o.LogOff()))">Выйти</a>
	</div>
}
else
{
	<div class="login-buttons">
		<div id="login-tab" class="tab">
			<input id="btn-login" type="button" name="tab" value="Войти" />
			<div id="login" class="login-form login">
				@{Html.RenderPartial("~/Views/Account/_LoginPartial.cshtml", new LoginModel());}
			</div>
		</div>
		<div id="register-tab" class="tab">
			<input id="btn-register" type="button" name="tab" value="Регистрация" />
			<div id="register" class="login-form register">
				@{Html.RenderPartial("~/Views/Account/_RegisterPartial.cshtml", new RegisterModel());}
			</div>
		</div>
	</div>
}
