@using LeagueSoldierDeathTeam.Business.Classes.Enums
@using LeagueSoldierDeathTeam.Site.Classes

@{
	Layout = null;
	var currentUser = AppContext.Current.CurrentUser;
}

<span class="banner">
	@switch (currentUser.Role)
	{
		case RoleEnum.MainAdministrator:
			<img src="/Images/main-admin-banner.png" alt="Баннер" />
			break;
		case RoleEnum.Administrator:
		<img src="/Images/admin-banner.png" alt="Баннер" />
			break;
		case RoleEnum.Moderator:
		<img src="/Images/moderator-banner.png" alt="Баннер" />
			break;
		default:
		<img src="/Images/user-banner.png" alt="Баннер" />
			break;
	}
</span>

