@model LeagueSoldierDeathTeam.Site.Models.CommentEditModel
@{
	Layout = null;
}

@using (Html.BeginForm())
{
	@Html.HiddenFor(m => m.Id)
	<div class="comments-body">
		@Html.ValidationSummary()
		@Html.TextAreaFor(m => m.Description, new { @rows = "9", @class = "resize-none comment-description", @data_type = "edit-comment-description" })
		<div class="comments-btn">
			<span class="comment-add-btn" data-type="edit">Изменить</span>
			или
			<span class="comment-cancel-btn" data-type="cancel">отменить</span>
		</div>
	</div>
}
