<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LSD Team - @ViewBag.Title</title>
	@{Html.RenderPartial("_Layout.Scripts");}
</head>
<body>
	<div class="wrapper">
		<div class="fixed-top">
			<div class="section section-header section-shadow">
				<div class="emblem">
					<img src="/Images/emblem.png" />
				</div>
				@{Html.RenderPartial("_LoginPartial");}
				<div class="frostbite-emblem">
					<img class="full-size" src="/Images/frostbite.png" />
				</div>
				<div class="ea-dice-emblem">
					<img class="full-size" src="/Images/EA-DICE.png" />
				</div>
				<div class="team-name-emblem">
					<img class="full-size" src="/Images/team-name.png" />
				</div>
			</div>
			<div class="section-menu section-shadow">
				<table class="menu">
					<tbody>
						<tr>
							<td class="dividing-line"></td>
							<td class="menu-cell">
								<a class="menu-link" href="javascripr:void(0);" onclick="return false;">
									<span>Игры</span>
									<span class="caret"></span>
								</a>
								<div class="menu-drop">
									<a class="menu-drop-link" href="javascripr:void(0);">Battlefield 2</a>
									<a class="menu-drop-link" href="javascripr:void(0);">Battlefield Bad Company 2</a>
									<a class="menu-drop-link" href="javascripr:void(0);">Battlefield 3</a>
									<a class="menu-drop-link" href="javascripr:void(0);">Battlefield 4</a>
								</div>
							</td>
							<td class="dividing-line"></td>
							<td class="menu-cell">
								<a class="menu-link" href="javascripr:void(0);" onclick="return false;">
									<span>Новости</span>
									<span class="caret"></span>
								</a>
								<div class="menu-drop">
									<a class=" menu-drop-link" href="javascripr:void(0);">Поиск</a>
									<a class=" menu-drop-link" href="javascripr:void(0);">Последние новости</a>
									<a class=" menu-drop-link" href="javascripr:void(0);">Популярные новости</a>
									<a class=" menu-drop-link" href="javascripr:void(0);">Архив новостей</a>
								</div>
							</td>
							<td class="dividing-line"></td>
							<td class="menu-cell">
								<a class="menu-link" href="javascripr:void(0);" onclick="return false;">
									<span>Форум</span>
								</a>
							</td>
							<td class="dividing-line"></td>
							<td class="menu-cell">
								<a class="menu-link" href="javascripr:void(0);" onclick="return false;">
									<span>Отзыв</span>
								</a>
							</td>
							<td class="dividing-line"></td>
							<td class="search-cell">
								<input class="search-field" name="s" type="text" placeholder="Поиск" id="search_input">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Dmitry Ustimenko</p>
		</footer>
	</div>
</body>
</html>
