<div class="section-slider section-radius section-shadow">
	<div id="galleria">
		<a href="http://www.youtube.com/watch?v=yJwKk70RaRI">
			<img src="http://img.youtube.com/vi/yJwKk70RaRI/maxresdefault.jpg">
		</a>
		<a href="/Images/Slider/002.jpg">
			<img src="/Images/Slider/002.jpg">
		</a>
		<a href="/Images/Slider/003.jpg">
			<img src="/Images/Slider/003.jpg">
		</a>
		<a href="/Images/Slider/004.jpg">
			<img src="/Images/Slider/004.jpg">
		</a>
		<a href="/Images/Slider/001.jpg">
			<img src="/Images/Slider/001.jpg">
		</a>
		<a href="/Images/Slider/002.jpg">
			<img src="/Images/Slider/002.jpg">
		</a>
		<a href="/Images/Slider/003.jpg">
			<img src="/Images/Slider/003.jpg">
		</a>
		<a href="/Images/Slider/004.jpg">
			<img src="/Images/Slider/004.jpg">
		</a>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		site.home.init();
	});
</script>