@{
	Layout = "~/Views/Shared/_LayoutError.cshtml";
	ViewBag.Title = "Глобальная ошибка";
}
<div class="transparent-border">
	<div class="error-page-body section-shadow">
		<h2>К сожалению, произошла ошибка при обработке запроса.</h2>
		<h2>Ошибка (@ViewBag.HttpCode): @ViewBag.Message</h2>
	</div>
</div>

