@{
	ViewBag.Title = "Администрирование сайта";
}

<div class="transparent-border">
	<div class="simple-page-body section-shadow">
		<div class="section-module-header">
			<div class="module-title">Администрирование сайта</div>
		</div>
		<div class="section-module-body">
			<div class="sideNav">
				<ul class="nav">
					<li>Менеджер ролей</li>
					<li>Пользователи</li>
				</ul>
			</div>
		</div>
	</div>
</div>