@{
	ViewBag.Title = "Профиль пользователя";
}

<div class="simple-page-body section-shadow">
	<div class="section-module-header">
		<div class="module-title">Профиль пользователя</div>
	</div>
	<div class="user-photo">
		<img src="/Images/emblem.png">
	</div>
	<table class="profile-info">
		<tr>
			<td class="title" colspan="2">Основная информация</td>
		</tr>
		<tr>
			<td class="empty" colspan="2"></td>
		</tr>
		<tr>
			<td>Имя на сайте:</td>
			<td></td>
		</tr>
		<tr>
			<td>Группа пользователя:</td>
			<td></td>
		</tr>
		<tr>
			<td>Фамилия:</td>
			<td></td>
		</tr>
		<tr>
			<td>Имя:</td>
			<td></td>
		</tr>
		<tr>
			<td>Отчество:</td>
			<td></td>
		</tr>
		<tr>
			<td>Возраст:</td>
			<td></td>
		</tr>
		<tr>
			<td>Пол:</td>
			<td></td>
		</tr>
		<tr>
			<td class="empty" colspan="2"></td>
		</tr>
		<tr>
			<td class="title" colspan="2">Дополнительная информация</td>
		</tr>
		<tr>
			<td class="empty" colspan="2"></td>
		</tr>
		<tr>
			<td>Деятельность:</td>
			<td></td>
		</tr>
		<tr>
			<td>Дата рождения:</td>
			<td></td>
		</tr>
		<tr>
			<td>Адрес:</td>
			<td></td>
		</tr>
		<tr>
			<td>Зарегистрирован:</td>
			<td></td>
		</tr>
		<tr>
			<td>Последняя активность:</td>
			<td></td>
		</tr>
		<tr>
			<td class="empty" colspan="2"></td>
		</tr>
		<tr>
			<td class="title" colspan="2">Связные данные</td>
		</tr>
		<tr>
			<td class="empty" colspan="2"></td>
		</tr>
		<tr>
			<td>Сайт:</td>
			<td></td>
		</tr>
		<tr>
			<td>ICQ:</td>
			<td></td>
		</tr>
		<tr>
			<td>Skype:</td>
			<td></td>
		</tr>
		<tr>
			<td>BattleLog:</td>
			<td></td>
		</tr>
		<tr>
			<td>Steam:</td>
			<td></td>
		</tr>
	</table>
</div>

