@using LeagueSoldierDeathTeam.BusinessLogic.Classes.Enums
@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Home.IndexModel

@{
	ViewBag.Title = "Игровой портал";
}

@{ Html.RenderPartial("_SliderPartial", Model.SliderImages); }

<div class="section-body-item-60 section-shadow">
	<div class="section-module-header">
		<div class="module-title">
			<a class="module-title-link" href="@(WebBuilder.BuildActionUrl<NewsController>(o => o.News()))">Новости</a>
			<span class="news-tabs">
				<span data-type="news-sort" data-id="@((int)NewsSort.Date)" class="news-active news-tab">последние</span>
				<span data-type="news-sort" data-id="@((int)NewsSort.Popularity)" class="news-tab">популярные</span>
			</span>
		</div>
	</div>
	<div class="section-module-body">
		<div class="news home">
			<div id="news-content" class="news-body home">
				@{ Html.RenderAction("TopNewsData", Model.NewsSortId); }
			</div>
		</div>
	</div>
</div>
<div class="section-body-item-right section-shadow">
	<div class="section-module-header">
		<div class="module-title">Команда</div>
	</div>
	<div class="section-module-body">
	</div>
</div>
<div class="section-body-item-right section-shadow height-300">
	<div class="section-module-header">
		<div class="module-title position-relative width-100percent">Календарь <span id="clock" class="clock"></span></div>
	</div>
	<div class="section-module-body">
		<div id="calendar" class="calendar">

		</div>
	</div>
</div>
<div class="section-body-item-right section-shadow margin-none">
	<div class="section-module-header">
		<div class="module-title">Опрос</div>
	</div>
	<div class="section-module-body">
	</div>
</div>
<div class="section section-slider-items section-radius section-shadow">
</div>

<script type="text/javascript">
	jQuery(document).ready(function () {
		site.home.init({
			urls: {
				refreshNews: '@(WebBuilder.BuildActionUrl<HomeController>(m => m.TopNewsData((int)NewsSort.Date)))'
			}
		});
	});
</script>