@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Home.IndexModel

@{
	ViewBag.Title = "Игровой портал";
}

@{ Html.RenderPartial("_SliderPartial", Model.SliderImages); }

<div class="section-body-item-60 section-shadow">
	<div class="section-module-header">
		<div class="module-title position-relative width-100percent">
			<a class="module-title-link" href="@(WebBuilder.BuildActionUrl<NewsController>(o => o.Index()))">Новости</a>
			<a class="module-title-link position-absolute" style="right: 10px;" href="@(WebBuilder.BuildActionUrl<NewsController>(o => o.CreateNews()))">Создать</a>
		</div>
	</div>
	<div class="section-module-body">
	</div>
</div>
<div class="section-body-item-right section-shadow">
	<div class="section-module-header">
		<div class="module-title">Команда</div>
	</div>
	<div class="section-module-body">
	</div>
</div>
<div class="section-body-item-right section-shadow">
	<div class="section-module-header">
		<div class="module-title position-relative width-100percent">Календарь <span id="clock" class="clock"></span></div>
	</div>
	<div class="section-module-body">
		<div id="calendar" class="calendar">

		</div>
	</div>
</div>
<div class="section-body-item-right section-shadow margin-none">
	<div class="section-module-header">
		<div class="module-title">Опрос</div>
	</div>
	<div class="section-module-body">
	</div>
</div>
<div class="section section-slider-items section-radius section-shadow">
</div>

<script type="text/javascript">
	jQuery(document).ready(function () {
		site.home.init();
	});
</script>