<?xml version="1.0" encoding="utf-8" ?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" debug="false">
	<appender name="EmergencyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="../../Logs/Emergency.2.0.log" />
		<param name="AppendToFile" value="true" />
		<param name="RollingStyle" value="Date" />
		<param name="DatePattern" value=".yyMMdd"/>
		<param name="StaticLogFileName" value="false"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date	%message%newline	%exception%newline" />
		</layout>
	</appender>
	<appender name="EventRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="../../Logs/Event.2.0.log" />
		<param name="AppendToFile" value="true" />
		<param name="RollingStyle" value="Date" />
		<param name="DatePattern" value=".yyMMdd"/>
		<param name="StaticLogFileName" value="false"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date	%message%newline	%exception%newline" />
		</layout>
	</appender>

	<logger name="Emergency" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="EmergencyRollingFileAppender"/>
	</logger>
	<logger name="Event" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="EventRollingFileAppender"/>
	</logger>
</log4net>