@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@using LeagueSoldierDeathTeam.Site.Models.Mail
@{
	Layout = "~/Views/Mail/LayoutMail.cshtml";
	var model = (MailTokenModel)ViewBag.Model;
	ViewBag.Subject = "Восстановление пароля";
	var link = WebBuilder.BuildActionUrl<AccountController>(o => o.PasswordReset(model.Token), true);
}
Пожалуйста, используйте <a href="@link">данную ссылку</a> для восстановления вашего пароля. Ссылка действительна в течение одного дня.
