@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@using LeagueSoldierDeathTeam.Site.Models.Mail
@{
	Layout = "~/Views/Mail/LayoutMail.cshtml";
	var model = (ResetPasswordModel)ViewBag.Model;
	ViewBag.Subject = "Password Recovery";
	var link = WebBuilder.GetFullUrl<AccountController>(o => o.ResetPassword(model.Token));
}
Please use <a href="@link">this link</a> to reset your password within the next 1 day.
