@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Administration.AdministrationModel

@{
	ViewBag.Title = "Администрирование сайта";
}

<div class="transparent-border">
	<div class="simple-page-body section-shadow">
		<div class="section-module-header">
			<div class="module-title">Администрирование сайта</div>
		</div>
		<div class="section-module-body">
			<div id="tabs">
				<ul>
					<li><a href="#users">Пользователи</a></li>
					<li><a href="#role-management">Менеджер ролей</a></li>
				</ul>
				<div id="users">
					<h2>Пользователи</h2>
					@{Html.RenderPartial("_UserEditPartial", Model.UserEditModel);}
				</div>
				<div id="role-management">
					<h2>Менеджер ролей</h2>
					@{Html.RenderPartial("_RoleManagementPartial");}
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		site.administation.init({
			urls: {
				deleteUser: '@(WebBuilder.BuildActionUrl<AdministrationController>(m => m.DeleteUser(null)))',
				activateUser: '@(WebBuilder.BuildActionUrl<AdministrationController>(m => m.ActivateUser(null)))',
				banUser: '@(WebBuilder.BuildActionUrl<AdministrationController>(m => m.BanUser(null, null)))',
				sendMessageForActivate: '@(WebBuilder.BuildActionUrl<AdministrationController>(m => m.SendMessageForActivate(null)))'
			}
		});
	});
</script>