@{
	ViewBag.Title = "Личные сообщения";
}

<div class="transparent-border">
	<div class="simple-page-body section-shadow">
		<div class="section-module-header">
			<div class="module-title">Личные сообщения</div>
		</div>
	</div>
</div>