@{
	ViewBag.Title = "Главная страница";
}

@{Html.RenderPartial("_SliderPartial");}
<div class="section-body-item-60 section-shadow">
	<div class="section-module-header">
		<div class="module-title">Новости</div>
	</div>
	<div class="section-module-body">
		<img src="~/Images/test-image.png" />
	</div>
</div>
<div class="section-body-item-right section-shadow">
	<div class="section-module-header">
		<div class="module-title">Команда</div>
	</div>
	<div class="section-module-body"></div>
</div>
<div class="section-body-item-right section-shadow">
	<div class="section-module-header">
		<div class="module-title">Календарь</div>
	</div>
	<div class="section-module-body"></div>
</div>
<div class="section-body-item-right section-shadow margin-none">
	<div class="section-module-header">
		<div class="module-title">Опрос</div>
	</div>
	<div class="section-module-body"></div>
</div>
<div class="section section-slider-items section-radius section-shadow">
</div>