@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@using LeagueSoldierDeathTeam.Site.Models.Account
@{
	Layout = null;
}

@if (Request.IsAuthenticated)
{
	<div class="log-off">
		<span>@AppContext.Current.CurrentUser.UserName&nbsp;</span>
		<a href="@(WebBuilder.BuildActionUrl<AccountController>(o => o.LogOff()))">Выйти</a>
	</div>
}
else
{
	<div class="login-buttons">
		<div id="login-tab" class="tab">
			<input id="btn-login" type="button" name="tab" value="Войти" />
			<div id="login" class="login-form login">
				@{Html.RenderPartial("~/Views/Account/_LoginPartial.cshtml", new LoginModel());}
			</div>
		</div>
		<div id="register-tab" class="tab">
			<input id="btn-register" type="button" name="tab" value="Регистрация" />
			<div id="register" class="login-form register">
				@{Html.RenderPartial("~/Views/Account/_RegisterPartial.cshtml", new RegisterModel());}
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			site.layout.init({
				urls: {
					login: '@(WebBuilder.BuildActionUrl<AccountController>(m => m.Login(null)))',
					register: '@(WebBuilder.BuildActionUrl<AccountController>(m => m.Register(null)))',
				}
			});
		});
	</script>
}
