@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@{
	Layout = null;
}

@if (Request.IsAuthenticated)
{
	<div class="log-off">
		<span>@AppContext.Current.CurrentUser.UserName&nbsp;</span>
		<a href="@(WebBuilder.BuildActionUrl<AccountController>(o => o.LogOff()))">Выйти</a>
	</div>
}
else
{
	<div class="login-buttons">
		<div class="tab">
			<input id="btn-login" type="button" name="tab" value="Войти" />
			<div class="layer"></div>
			<div id="login" class="login-form login">
				@{Html.RenderPartial("~/Views/Account/_LoginPartial.cshtml");}
			</div>
		</div>
		<div class="tab">
			<input id="btn-register" type="button" name="tab" value="Регистрация" />
			<div class="layer"></div>
			<div id="register" class="login-form register">
				@using (Html.BeginForm())
				{
					@Html.ValidationSummary()
					<p class="clearfix">
						<label for="register-user-name">Введите имя</label>
						<input type="text" name="register-user-name" id="register-user-name" placeholder="Введите имя">
					</p>
					<p class="clearfix">
						<label for="register-email">Введите Email</label>
						<input type="text" name="register-email" id="register-email" placeholder="Введите Email">
					</p>
					<p class="clearfix">
						<label for="register-password">Введите пароль</label>
						<input type="password" name="register-password" id="register-password" placeholder="Введите пароль">
					</p>
					<p class="clearfix">
						<label for="register-confirm-password">Повторите пароль</label>
						<input type="password" name="register-confirm-password" id="register-confirm-password" placeholder="Повторите пароль">
					</p>
					<p class="clearfix">
						<input type="button" value="Зарегистрироваться">
					</p>
				}
			</div>
		</div>
	</div>
}
