@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
<div class="section-menu section-shadow">
	<table class="menu">
		<tbody>
			<tr>
				<td class="dividing-line"></td>
				<td class="menu-cell">
					<a class="menu-link" href="javascripr:void(0);">
						<span>Игры</span>
						<span class="caret"></span>
					</a>
					<div class="menu-drop">
						<a class="menu-drop-link" href="javascripr:void(0);">Battlefield 2</a>
						<a class="menu-drop-link" href="javascripr:void(0);">Battlefield Bad Company 2</a>
						<a class="menu-drop-link" href="javascripr:void(0);">Battlefield 3</a>
						<a class="menu-drop-link" href="javascripr:void(0);">Battlefield 4</a>
					</div>
				</td>
				<td class="dividing-line"></td>
				<td class="menu-cell">
					<a class="menu-link" href="javascripr:void(0);">
						<span>Новости</span>
						<span class="caret"></span>
					</a>
					<div class="menu-drop">
						<a class=" menu-drop-link" href="javascripr:void(0);">Поиск</a>
						<a class=" menu-drop-link" href="javascripr:void(0);">Последние новости</a>
						<a class=" menu-drop-link" href="javascripr:void(0);">Популярные новости</a>
						<a class=" menu-drop-link" href="javascripr:void(0);">Архив новостей</a>
					</div>
				</td>
				<td class="dividing-line"></td>
				<td class="menu-cell">
					<a class="menu-link" href="@(WebBuilder.BuildActionUrl<HomeController>(o => o.Forum()))">
						<span>Форум</span>
					</a>
				</td>
				<td class="dividing-line"></td>
				<td class="menu-cell">
					<a class="menu-link" href="javascripr:void(0);">
						<span>Отзыв</span>
					</a>
				</td>
				<td class="dividing-line"></td>
				<td class="search-cell">
					<input class="search-field" name="s" type="text" placeholder="Поиск" id="search_input">
				</td>
			</tr>
		</tbody>
	</table>
</div>
