@model IEnumerable<LeagueSoldierDeathTeam.Site.Models.ImageModel>

<div class="section-slider section-radius section-shadow">
	<div id="galleria">
		@if (Model.Any())
		{
			foreach (var item in Model)
			{
				<a href="@item.Src">
					<img src="@item.Src">
				</a>
			}
		}
	</div>
</div>
