<div class="section-slider section-radius section-shadow">
	<div id="slider" style="position: relative; width: 1020px; height: 400px;">
		<div u="slides" style="position: absolute; left: 0; top: 0; width: 1020px; height: 400px; overflow: hidden;">
			<div>
				<img u="image" src="/Images/Slider/001.jpg" />
				<img u="thumb" src="/Images/Slider/001.jpg" />
			</div>
			<div>
				<img u="image" src="/Images/Slider/002.jpg" />
				<img u="thumb" src="/Images/Slider/002.jpg" />
			</div>
			<div>
				<img u="image" src="/Images/Slider/003.jpg" />
				<img u="thumb" src="/Images/Slider/003.jpg" />
			</div>
			<div>
				<img u="image" src="/Images/Slider/004.jpg" />
				<img u="thumb" src="/Images/Slider/004.jpg" />
			</div>
		</div>

		<div u="thumbnavigator" class="jssort05" style="position: absolute; width: 980px; height: 100px; left:20px; top: 405px;">
			<div u="slides" style="width: 980px; position: absolute; overflow: hidden; left: -225px; top: 5px; height: 90px; z-index: 0;cursor: pointer;">
				<div u="prototype" class="p" style="position: absolute; width: 230px; height: 90px; top: 0; left: 0;">
					<div class="o" style="position: absolute; top: 1px; left: 1px; width: 230px; height: 90px; overflow: hidden;">
						<thumbnailtemplate class="b" style="width: 230px; height: 90px; border: none; position: absolute; top: 0; left: 0;"></thumbnailtemplate>
						<div class="i"></div>
						<thumbnailtemplate class="f" style="width: 230px; height: 90px; border: none; position: absolute; top: 0; left: 0;"></thumbnailtemplate>
					</div>
				</div>
			</div>
		</div>

		<span u="arrowleft" class="jssora03l" style="width: 45px; height: 45px; top: 175px; left: -30px;"></span>
		<span u="arrowright" class="jssora03r" style="width: 45px; height: 45px; top: 175px; right: -30px; "></span>
	</div>
</div>
<div class="section section-slider-items section-radius section-shadow">
</div>

<script type="text/javascript">
	$(document).ready(function () {
		site.home.init();
	});
</script>