@using LeagueSoldierDeathTeam.Site.Classes
@using LeagueSoldierDeathTeam.Site.Controllers
@model LeagueSoldierDeathTeam.Site.Models.Account.PasswordRecoveryModel

@{
	ViewBag.Title = "Восстановление пароля";
}

<div class="transparent-border">
	<div class="simple-page-body section-shadow">
		<div class="section-module-header">
			<div class="module-title">Восстановление пароля</div>
		</div>
		@if (Model.EmailWasSend)
		{
			<div class="message-body">
				<span class="message">
					Если указанный e-mail был ранее зарегистрирован на сайте, вам будет выслана ссылка на восстановление пароля на этот адрес.
				</span>
				<span class="message">
					Если у вас возникли проблемы с получением данного письма, пожалуйста свяжитесь с администратором.
				</span>
				<span class="message">
					<a href="@(WebBuilder.BuildActionUrl<HomeController>(m => m.Index()))">Главная страница</a>
				</span>
			</div>
		}
		else
		{
			<h2>Пожалуйста введите адрес электронной почты, указанный при регистрации вашей учетной записи</h2>
			<hr />
			<div class="form">
				@using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post))
				{
					@Html.ValidationSummary()
					<p class="clearfix">
						@Html.LabelFor(model => model.RecoveryEmail)
						@Html.TextBoxFor(model => model.RecoveryEmail, new { @placeholder = "Введите Email" })
					</p>
					<p class="clearfix">
						<input type="submit" value="Сбросить пароль">
					</p>
				}
			</div>
		}
	</div>
</div>