/* Tags */

body {
	font: 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
	background: url(/Images/background_body.png);
	padding: 0;
	margin: 0;
}

img {
	border: 0 none;
	max-width: 1920px;
	max-height: 1200px;
}

hr {
	margin-top: 5px;
	background-color: #000000;
}

footer {
	margin-top: 10px;
}

	footer p {
		text-align: center;
		color: white;
		min-height: 100px;
	}

input[type=text]:focus, input[type=password]:focus, input[type=button]:focus, input[type=submit]:focus, button[type=submit]:focus, a:focus, select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

select:hover {
	cursor: pointer;
}

select option:hover {
	cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus {
	color: black;
}

input[type=button]:focus {
	color: white;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
	color: transparent !important;
}

input[type=text]:focus::-moz-placeholder, input[type=password]:focus::-moz-placeholder {
	color: transparent !important;
}

input[type=text]:focus::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder {
	color: transparent !important;
}

a {
	text-decoration: none;
	color: #B31919;
}

/* Id */

#galleria {
	height: 400px;
}

	#galleria, .galleria-container, .galleria-stage, .galleria-images, #galleria .galleria-image, #galleria .galleria-image img {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

		#galleria .galleria-thumbnails-container .galleria-image, #galleria .galleria-thumbnails-container .galleria-image img {
			border-radius: 1px;
			-moz-border-radius: 1px;
			-webkit-border-radius: 1px;
		}

/* Classes */

.modal-header .close {
	margin-top: 7px;
}

.button {
	padding: 6px 5px;
	border: 1px solid #B31919;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
	border-radius: 3px;
	background: #B31919;
	cursor: pointer;
	font-family: 'Ubuntu', 'Lato', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 15px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

	.button:hover {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
	}


	.button:active {
		background: #B31919;
		box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
	}

.color-main {
	color: #B31919;
	font-weight: bold;
}

.log-off {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 15px;
}

	.log-off span {
		color: white;
		display: inline-block;
		margin-right: 5px;
	}

		.log-off span a {
			color: white;
			font-size: 17px;
		}

			.log-off span a:hover {
				text-shadow: 2px 2px 2px black, 0 0 0.8em white;
			}

			.log-off span a:focus {
				color: white;
				display: inline-block;
				margin-right: 5px;
			}

	.log-off > a {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		background: #B31919;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
		cursor: pointer;
		display: inline-block;
		width: 90px;
		text-align: center;
		padding: 6px;
		border: 1px solid #B31919;
	}

		.log-off > a:active {
			border: 1px solid #191919 !important;
			box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
			padding: 6px;
		}

.cursor-pointer {
	cursor: pointer;
}

.hide-email {
	font-style: italic;
	display: inline-block;
	border: 1px solid #CCC;
	padding: 1px 10px;
}

.position-absolute {
	position: absolute;
}

.header-name {
	text-transform: none;
}

.wrapper {
	position: relative;
	width: 1020px;
	margin: 0 auto;
}

.section-menu {
	background: url(/Images/background_menu.png) repeat-x center top;
	border-top: 1px solid #333;
	width: 1020px;
	min-height: 37px;
	max-height: 37px;
	position: fixed;
	z-index: 500;
}

	.section-menu .profile-mini {
		width: 24px;
	}

		.section-menu .profile-mini:hover {
			cursor: pointer;
		}

		.section-menu .profile-mini .hide-profile-mini,
		.section-menu .profile-mini .open-profile-mini {
			width: 24px;
			height: 24px;
			display: inline-block;
			-webkit-transition: all 0.4s linear;
			-moz-transition: all 0.4s linear;
			-o-transition: all 0.4s linear;
			transition: all 0.4s linear;
		}

		.section-menu .profile-mini .hide-profile-mini {
			background: url(/Images/user-open.png) no-repeat center top;
		}

		.section-menu .profile-mini .open-profile-mini {
			background: url(/Images/user-hide.png) no-repeat center top;
		}

	.section-menu .menu-holder {
		width: 960px;
		margin: 0 auto;
	}

.section-shadow {
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.section {
	padding-left: 15px;
	padding-right: 15px;
}

.section-header {
	position: relative;
	height: 150px;
	border-bottom: 1px solid #000;
	border-top: 1px solid rgb(50, 50, 50);
	background: url(/Images/background_header.png) no-repeat center top;
	z-index: 501;
	margin-top: 2px;
}

.emblem {
	position: absolute;
	left: 55px;
}

	.emblem img.full-size {
		width: auto;
	}

	.emblem img {
		width: 145px;
	}

.dice-emblem {
	position: absolute;
	right: 88px;
	top: 90px;
}

.ea-emblem {
	position: absolute;
	right: 200px;
	top: 80px;
}

.frostbite-emblem {
	position: absolute;
	right: 0;
	top: 75px;
}

.team-name-emblem {
	position: absolute;
	left: 200px;
	top: 25px;
}

.section-radius {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.section-slider {
	background: black;
	height: 400px;
	clear: both;
	margin-bottom: 115px;
}

.section-slider-items {
	background: rgba(40, 40, 40, 0.5);
	margin: 5px 0;
	height: 100px;
	clear: both;
}

.section-body {
	background: transparent;
	margin-top: 45px;
	z-index: 498;
}

.profile-info a:hover {
	text-shadow: 0 0 0 transparent, 0 0 1px rgba(255, 102, 102, 0.5);
}

.section-body-item-60 {
	width: 710px;
	height: 920px;
	float: left;
	margin-bottom: 10px;
}

.section-body-item-right {
	width: 300px;
	height: 300px;
	float: right;
	margin-bottom: 10px;
}

.margin-none {
	margin-bottom: 0 !important;
}

.section-module-header {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #fff;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.1) inset;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

	.section-module-header .module-title {
		color: #B31919;
		font: 18px 'PT Sans Narrow', Arial, sans-serif;
		padding: 9px;
		text-transform: uppercase;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

		.section-module-header .module-title > a {
			vertical-align: middle;
			line-height: 33px;
			text-shadow: -1px -1px 1px #fff;
		}

.section-module-body {
	background-color: white;
}

.section-info-body {
	border: 10px solid rgba(0, 0, 0, 0.4);
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Login forms */

.login-buttons {
	right: 10px;
	position: absolute;
	top: 15px;
}

	.login-buttons .tab {
		position: relative;
		display: inline-block;
	}

		.login-buttons .tab > input {
			position: relative;
			border: 1px solid #B31919;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
			background: #B31919;
			font-family: 'Ubuntu', 'Lato', sans-serif;
			color: white;
			font-weight: 700;
			font-size: 15px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
			cursor: pointer;
			display: block;
			float: left;
			width: 120px;
			text-align: center;
			padding: 6px;
		}

		.login-buttons .tab .login-form {
			position: absolute;
			display: none;
		}

			.login-buttons .tab .login-form.login {
				left: -180px;
				top: 44px;
				opacity: 1;
			}

			.login-buttons .tab .login-form.register {
				left: -230px;
				top: 44px;
				opacity: 1;
			}

		.login-buttons .tab > .active-tab {
			background: rgba(47, 47, 47, 0.95);
			border: 1px solid #191919 !important;
		}

/* Login form */

.login-form {
	font-family: 'Ubuntu', 'Lato', sans-serif;
	font-weight: 400;
	width: 300px;
	padding: 10px;
	right: 110px;
	background: rgba(20, 20, 20, 0.9);
	border: 1px solid #191919;
	box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
	z-index: 502;
}

	.login-form:after {
		content: "";
		height: 1px;
		width: 30%;
		position: absolute;
		top: 0;
		background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
		background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	}

	.login-form.login:after {
		left: 196px;
	}

	.login-form.register:after {
		left: 236px;
	}

	.login-form:before {
		content: "";
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #5d5d5d;
		top: -10px;
	}

	.login-form.login:before {
		left: 232px;
	}

	.login-form.register:before {
		left: 282px;
	}

	.login-form label {
		width: 50%;
		float: left;
		padding-top: 9px;
		color: #ddd;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 0 1px 0 #000;
		text-indent: 10px;
		font-weight: 700;
		cursor: pointer;
	}

	.login-form input[type=text], .login-form input[type=password] {
		width: 50%;
		float: left;
		padding: 8px 5px;
		margin-bottom: 10px;
		font-size: 12px;
		background: #1f2124;
		background: -moz-linear-gradient(#1f2124, #27292c);
		background: -ms-linear-gradient(#1f2124, #27292c);
		background: -o-linear-gradient(#1f2124, #27292c);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
		background: -webkit-linear-gradient(#1f2124, #27292c);
		background: linear-gradient(#1f2124, #27292c);
		border: 1px solid #000;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		border-radius: 3px;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: #fff;
	}

		.login-form input[type=text]:focus, .login-form input[type=password]:focus {
			color: white;
		}

	.login-form input[type=button] {
		width: 100%;
		padding: 6px 5px;
		border: 1px solid #B31919;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		border-radius: 3px;
		background: #B31919;
		cursor: pointer;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	}

		.login-form input[type=button]:hover {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
		}

		.login-form input[type=button]:active {
			background: #B31919;
			box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
			border-color: #000;
			border-color: rgba(0,0,0,0.9);
		}

	.login-form label[for=RememberMe] {
		width: auto;
		float: none;
		display: inline-block;
		text-transform: capitalize;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 0;
		text-indent: 2px;
	}

	.login-form.register {
		width: 350px;
	}

		.login-form.register p:last-child {
			float: right;
			width: 50%;
		}

	.login-form.login p:nth-child(4), .login-form.login p:nth-child(5) {
		float: left;
		width: 50%;
	}

	.login-form .login-link {
		text-align: center;
		margin: 40px 0 10px 0;
	}

		.login-form .login-link a {
			color: #ddd;
		}

			.login-form .login-link a:hover {
				color: white;
			}

/* Navigation */

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-bottom: 3px;
	vertical-align: middle;
	border-top: 4px solid #bb0000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0 dotted;
}

.menu {
	margin: 0 5px 0 10px;
}

	.menu .dividing-line {
		width: 2px;
		background: url(/Images/dividing-line.png) no-repeat center top;
	}

	.menu .menu-cell {
		width: 1%;
		vertical-align: middle;
		position: relative;
		height: 34px;
		line-height: 29px;
	}

	.menu a.menu-link {
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		padding: 0 7px;
	}

		.menu a.menu-link span {
			display: inline-block;
			color: #FFF;
			font: 14px Tahoma, Palatino Linotype;
		}

			.menu a.menu-link span:hover {
				text-shadow: 2px 2px 2px black, 0 0 1.5em white;
			}

	.menu .search-cell {
		width: auto;
		text-align: right;
		padding-right: 5px;
	}

		.menu .search-cell .input-group {
			float: right;
			height: 34px;
			margin-right: -43px;
			white-space: nowrap;
			padding: 8px 10px 0;
		}

		.menu .search-cell .search-field {
			color: #8f8f8f;
			width: 180px;
			height: 24px;
			font-size: 12px;
			background: url(/Images/icon_search.png) no-repeat right 1px #FFF;
			border: 1px solid #a8acad;
			padding: 0 5px;
			font: 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
			margin-bottom: 3px;
		}

			.menu .search-cell .search-field:focus {
				color: black;
			}

	.menu .menu-drop {
		position: absolute;
		left: -9999px;
		opacity: 0;
		-webkit-transition: 0.25s linear opacity;
		width: auto;
		background: rgba(59, 59, 59, 0.97);
		z-index: 500;
		box-shadow: 1px 2px 4px #333;
		padding: 5px 0 5px;
		margin-top: 1px;
	}

		.menu .menu-drop a {
			white-space: nowrap;
			display: block;
		}

	.menu .menu-cell:hover .menu-drop {
		left: -3px;
		opacity: 1;
	}

		.menu .menu-cell:hover .menu-drop a {
			text-decoration: none;
			-webkit-transition: -webkit-transform 0.075s linear;
		}

	.menu .menu-cell .menu-drop a.menu-drop-link {
		color: white;
		display: block;
		text-decoration: none;
		white-space: nowrap;
		margin: 1px 0;
		padding: 0 12px 0 12px;
	}

		.menu .menu-cell .menu-drop a.menu-drop-link:hover {
			background: #626262;
			color: #FFF;
			box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.2);
		}

/* Error */

.validation-summary-errors {
	border: 1px solid #921111;
	color: white;
	margin-bottom: 5px;
	background-color: rgba(100, 17, 17, 0.3);
}

	.validation-summary-errors ul {
		padding: 8px;
		list-style: none;
	}

		.validation-summary-errors ul li {
			padding: 2px;
		}

.input-validation-error {
	border: 1px solid #C00000 !important;
}

/* Simple page */

.transparent-border {
	background-color: transparent;
	border: 15px solid rgba(0,0,0,0.45);
}

.simple-page-body {
	background: white;
	position: relative;
}

	.simple-page-body h2 {
		margin-top: 20px;
		font-size: 14px;
		text-align: center;
	}

	.simple-page-body hr {
		background-color: rgba(0, 0, 0, 0.4);
		margin-right: 10px;
		margin-left: 10px;
	}

	.simple-page-body .form {
		position: relative;
		margin: 30px auto 0 auto;
		padding-bottom: 30px;
		width: 400px;
	}

		.simple-page-body .form img {
			position: absolute;
			top: 0;
		}

			.simple-page-body .form img.facebook {
				right: -260px;
			}

			.simple-page-body .form img.vkontakte {
				left: -260px;
			}

	.simple-page-body .form-info {
		margin-bottom: 10px;
	}

		.simple-page-body .form-info h3 {
			text-indent: 10px;
			font-size: 12px;
			padding: 10px;
			font-weight: normal;
			font-style: italic;
		}

	.simple-page-body .form .validation-summary-errors {
		color: #B31919;
		background-color: rgba(100, 17, 17, 0.2);
		margin-bottom: 10px;
	}

	.simple-page-body .form label {
		float: left;
		padding-top: 7px;
		/* color: #B01F1F; */
		font-size: 15px;
		/* text-transform: uppercase; */
		letter-spacing: 0;
		/* font-weight: 700; */
		cursor: pointer;
	}

	.simple-page-body .form input[type=text],
	.simple-page-body .form input[type=password],
	.simple-page-body .form select {
		width: 165px;
		float: right;
		padding: 8px 5px;
		margin-bottom: 10px;
		font-size: 12px;
		border: 1px solid #616161;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		border-radius: 3px;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: black;
	}

	.simple-page-body .form input[type=button], .simple-page-body .form input[type=submit] {
		float: right;
		padding: 6px 5px;
		border: 1px solid #B31919;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		border-radius: 3px;
		background: #B31919;
		cursor: pointer;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
		width: 165px;
		float: right;
	}

		.simple-page-body .form input[type=button]:hover, .simple-page-body .form input[type=submit]:hover {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
		}

		.simple-page-body .form input[type=button]:active, .simple-page-body .form input[type=submit]:active {
			background: #B31919;
			box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
		}

	.simple-page-body .form .checkbox {
		float: right;
		width: 200px;
		padding: 7px 0;
	}

	.simple-page-body .form .checkbox-container {
		width: 600px;
	}

	.simple-page-body .message-body {
		height: 275px;
		text-align: center;
		margin-top: 135px;
	}

		.simple-page-body .message-body h2 {
			font-weight: normal;
			font-size: 1.5em;
		}

	.simple-page-body .message {
		display: block;
		text-align: center;
		margin: 20px;
		font-size: 14px;
	}

.success-message {
	border: 1px solid green;
	background-color: rgba(0, 128, 0, 0.5);
	padding: 10px;
	margin-bottom: 10px;
}

/* Error Page */

.error-page-body {
	height: 400px;
	border: 1px solid rgba(0,0,0,0.1);
	background: white;
}

	.error-page-body h2 {
		text-align: center;
		margin-top: 70px;
	}

/* Successful page */

.success-body {
	height: 400px;
	border: 1px solid rgba(0,0,0,0.1);
	background: white;
}

	.success-body div {
		font-size: 15px;
		text-align: center;
		margin-top: 135px;
	}

		.success-body div h2 {
			font-weight: normal;
		}

		.success-body div span {
			display: inline-block;
			margin-top: 10px;
		}

			.success-body div span a {
				color: rgb(220,0,0);
				font-style: italic;
				opacity: 0.5;
			}

				.success-body div span a:hover {
					opacity: 1;
				}

/* External Login*/

.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.down-arrow {
	border-top: 1px solid rgb(242, 242, 242);
	border-bottom: 1px solid rgb(242, 242, 242);
	padding: 9px 0;
	width: 100%;
	height: 10px;
	background: url(/Images/arrow-social-down.png) no-repeat center;
	opacity: 0.7;
}

.up-arrow {
	background: url(/Images/arrow-social-up.png) no-repeat center;
}

.down-arrow:hover {
	opacity: 1;
	cursor: pointer;
}

.social-list {
	height: 70px;
	position: relative;
	margin: 5px 0;
	display: none;
}

.social-vk-button, .social-facebook-button {
	position: absolute;
	right: 10px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	border: none;
}

	.social-vk-button:active, .social-facebook-button:active {
		box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
	}

.social-vk-button {
	background: url(/Images/vk-icon.png) no-repeat top center;
	top: 43px;
}

.social-facebook-button {
	background: url(/Images/facebook.png) no-repeat top center;
	top: 3px;
}

.social-vk-button:hover {
	background: url(/Images/vk-icon-active.png) no-repeat top center;
}

.social-facebook-button:hover {
	background: url(/Images/facebook-active.png) no-repeat top center;
}

.social-vk-button:hover, .social-facebook-button:hover {
	cursor: pointer;
	opacity: 1;
}

.social-vk-label, .social-facebook-label {
	color: white;
	position: absolute;
	left: 0;
	width: 235px;
	opacity: 0.9;
	cursor: default;
	font-weight: 700;
	text-indent: 10px;
}

.social-vk-label {
	top: 50px;
}

.social-facebook-label {
	top: 11px;
}

.arrow-page-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: url(/Images/page-up.png) no-repeat center;
	opacity: 0.5;
	display: none;
}

	.arrow-page-up:hover {
		opacity: 0.8;
		cursor: pointer;
	}

/* User Profile */

.profile-tabs {
	min-height: 360px;
}

.simple-page-body .back-profile {
	margin: 25px;
}

	.simple-page-body .back-profile .button {
		padding-left: 10px;
		padding-right: 10px;
	}

.back-arrow {
	background: url(/Images/arrow-back.png) no-repeat top center;
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 7px;
}

.clear-input {
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 26px;
	background: url(/Images/clear-input.png) no-repeat top center;
	background-color: white;
	right: 0;
	top: 0;
	border: 1px solid #A0A0A0;
	display: none;
}

.edit-icon, .delete-icon {
	position: absolute;
	bottom: 3px;
	display: inline-block;
	opacity: 0.9;
	height: 19px;
}

.edit-icon {
	width: 16px;
	background: url(/Images/writing_file.png) no-repeat top center;
	right: 3px;
}

.delete-icon {
	width: 19px;
	background: url(/Images/delete-icon.png) no-repeat top center;
	left: 3px;
}

	.edit-icon:hover, .delete-icon:hover {
		cursor: pointer;
		opacity: 1;
	}

	.edit-icon:active, .delete-icon:active {
		box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
	}

.clear-input:hover {
	cursor: pointer;
	background: url(/Images/clear-input-active.png) no-repeat top center;
	background-color: white;
}

.clear-input:active {
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

.file-input {
	width: 165px;
	padding: 3px;
	float: right;
}

.file-container {
	position: relative;
	margin: 0 12px 10px 12px;
}

	.file-container .btn-file {
		width: 24px;
		height: 24px;
		display: inline-block;
		background: url(/Images/browse.png);
	}

		.file-container .btn-file input[type=file] {
			filter: alpha(opacity=0);
			opacity: 0;
			width: 200px;
			height: 26px;
			cursor: pointer;
		}

			.file-container .btn-file input[type=file]::-webkit-file-upload-button {
				cursor: pointer;
			}

.file-submit {
	text-align: center;
	margin: 0 7px 10px 7px;
}

	.file-submit input[type=submit] {
		border-radius: 4px 4px 4px 4px !important;
		width: 50%;
		background: #B31919;
		border: 1px solid #B31919;
	}

.profile-tabs .btn {
	padding: 7px 5px;
	border: 1px solid #B31919;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
	border-radius: 3px;
	background: #B31919;
	cursor: pointer;
	font-family: 'Ubuntu', 'Lato', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 15px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

	.profile-tabs .btn:hover {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
	}

	.profile-tabs .btn:active {
		background: #B31919;
		box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
	}

.profile-tabs label[for=tab-advance] {
	left: 152px;
}

.profile-tabs label[for=tab-bind] {
	left: 338px;
}

.profile-tabs label[for=tab-change-pass] {
	left: 433px;
}

.profile-tabs label[for=tab-role-manager] {
	left: 598px;
}

.profile-tabs .tabs > li > input[type=radio] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.profile-tabs .tabs {
	width: 95%;
	float: none;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 20px;
}

	.profile-tabs .tabs > li {
		margin-right: 2px;
	}

		.profile-tabs .tabs > li > label {
			display: block;
			padding: 5px 20px;
			top: 110px;
			border-radius: 3px 3px 0 0;
			color: rgb(68, 68, 68);
			font-weight: normal;
			font-family: 'Lily Script One', helveti;
			background: rgba(255,255,255,0.2);
			cursor: pointer;
			position: absolute;
			font: 18px 'PT Sans Narrow', Arial, sans-serif;
			border: 1px solid #D1D1D1;
		}

.profile-tabs [id^=tab]:checked + label {
	padding: 9px 20px;
	color: black;
	top: 102px;
	border: 1px solid #D1D1D1;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.profile-tabs [id^=tab]:checked ~ [id^=tab-content] {
	display: block;
}

.profile-tabs .tab-content {
	z-index: 2;
	display: none;
	text-align: left;
	width: 100%;
	line-height: 140%;
	background: white;
	box-sizing: border-box;
	border: 1px solid #D1D1D1;
}

.profile-left-bar {
	margin: 14px;
	margin-left: 95px;
	float: left;
}

	.profile-left-bar .user-photo {
		width: 200px;
		height: 200px;
		border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 4px #cccccc;
		-webkit-box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 4px #cccccc;
		box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 4px #cccccc;
		position: relative;
		z-index: 9;
		background-color: white;
	}

		.profile-left-bar .user-photo img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 200px;
			max-height: 200px;
		}

	.profile-left-bar .user-upload-photo {
		padding-top: 20px;
		width: 224px;
		border: 1px solid #CCC;
		margin-left: -12px;
		z-index: 10;
		border-radius: 10px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		margin-top: 1px;
	}

		.profile-left-bar .user-upload-photo .validation-summary-errors {
			margin: 0 12px 10px 12px;
			color: #B31919;
			text-align: center;
			background-color: rgba(100, 17, 17, 0.2);
		}

	.profile-left-bar .user-buttons {
		margin-top: 20px;
		width: 200px;
	}

		.profile-left-bar .user-buttons a {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
			background: #B31919;
			font-family: 'Ubuntu', 'Lato', sans-serif;
			color: white;
			font-weight: 700;
			font-size: 15px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
			cursor: pointer;
			display: inline-block;
			width: 100%;
			text-align: center;
			padding: 6px;
			border: 1px solid #B31919;
			margin-top: 3px;
		}

			.profile-left-bar .user-buttons a:active {
				box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
				padding: 6px;
			}

.profile-right-bar {
	width: 60%;
	margin: 10px 10px 0 auto;
	padding-bottom: 10px;
}

table.profile-info {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

	table.profile-info tr td {
		border: 1px solid #a8acad;
		width: 50%;
		padding: 5px;
	}

		table.profile-info tr td:first-child {
			width: 40%;
			background-color: #F5F5F5;
		}

		table.profile-info tr td:last-child {
			width: 60%;
		}

		table.profile-info tr td.title {
			border: 1px solid #333;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			color: white;
			padding: 10px;
			margin: 5px 0;
			background: url(/Images/background_menu.png) repeat-x center top;
		}

		table.profile-info tr td.empty {
			padding: 1px;
		}

/* date picker */

.dropdown-menu {
	position: absolute;
	z-index: 499;
	display: none;
	min-width: 160px;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
	margin-top: -3px;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: baseline;
	background-image: url("/Images/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.icon-arrow-right {
	background-position: -264px -96px;
}

.icon-arrow-left {
	background-position: -240px -96px;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled] {
	background-color: #B31919;
}

	.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover,
	.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
		background-image: -moz-linear-gradient(top, #B31919, #B31919);
		background-image: -ms-linear-gradient(top, #B31919, #B31919);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B31919), to(#B31919));
		background-image: -webkit-linear-gradient(top, #B31919, #B31919);
		background-image: -o-linear-gradient(top, #B31919, #B31919);
		background-image: linear-gradient(top, #B31919, #B31919);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B31919', endColorstr='#B31919', GradientType=0);
		border-color: #B31919 #B31919 #B31919;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}

.datepicker td, .datepicker th, .datepicker table tr td span {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

	.datepicker th.switch {
		padding-bottom: 3px;
	}

.datepicker table tr td span {
	height: 20px;
	line-height: 20px;
}


/* overlay */

.animated {
	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	-o-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.icon-remove {
	background: url(/Images/delete.png) no-repeat top center;
	margin-top: 2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
}

.hide {
	display: none;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .8;
	filter: alpha(opacity=80);
}

	.close:hover, .close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: 1;
		filter: alpha(opacity=100);
	}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.modal {
	width: 500px;
	margin: -250px 0 0 -250px;
	top: 60%;
}

.modal-body {
	text-align: center;
	font: 17px 'PT Sans Narrow', Arial, sans-serif;
	padding: 40px;
}

.modal-header {
	border-bottom: 1px inset #CACACA;
}

	.modal-header h3 {
		color: #B31919;
		font: 18px 'PT Sans Narrow', Arial, sans-serif;
		text-transform: uppercase;
		margin-top: 5px;
	}

#btnOk, #btnCancel {
	width: 100px;
}

#btnCancel {
	background-color: #303030;
	border: 1px solid #303030;
}

/* Checkbox */

.checker span {
	background-image: url(/Images/sprite.png);
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

input[type=checkbox] {
	cursor: pointer;
}

.checker,
.checker * {
	margin: 0;
	padding: 0;
}

.checker {
	width: 15px;
	height: 15px;
}

	.checker input {
		width: 15px;
		height: 15px;
	}

	.checker span {
		background-position: -2px -262px;
		height: 15px;
		width: 15px;
	}

	.checker:active span,
	.checker.active span {
		background-position: -21px -262px;
	}

	.checker.focus span,
	.checker:hover span {
		background-position: -40px -262px;
	}

	.checker.focus:active span,
	.checker:active:hover span,
	.checker.active:hover span,
	.checker.focus.active span {
		background-position: -59px -262px;
	}

	.checker span.checked {
		background-position: -78px -262px;
	}

	.checker:active span.checked,
	.checker.active span.checked {
		background-position: -97px -262px;
	}

	.checker.focus span.checked,
	.checker:hover span.checked {
		background-position: -116px -262px;
	}

	.checker.focus:active span.checked,
	.checker:hover:active span.checked,
	.checker.active:hover span.checked,
	.checker.active.focus span.checked {
		background-position: -135px -262px;
	}

	.checker.disabled span,
	.checker.disabled:active span,
	.checker.disabled.active span {
		background-position: -154px -262px;
	}

		.checker.disabled span.checked,
		.checker.disabled:active span.checked,
		.checker.disabled.active span.checked {
			background-position: -173px -262px;
		}

.checker {
	margin-right: 3px;
	margin-top: -3px;
	margin-bottom: 0 !important;
	margin-left: 10px;
}

	.checker:focus, .checker span:focus, .checker span input[type=checkbox]:focus {
		border: 1px solid rgba(111, 111, 111, 0.8);
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		outline: 1px;
	}

span.checker-span {
	margin-right: 20px;
	display: inline-block;
}

.checker {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

	.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
		outline: 0;
	}

.checker {
	position: relative;
}

	.checker span {
		display: -moz-inline-box;
		display: inline-block;
		text-align: center;
	}

	.checker input {
		opacity: 0;
		filter: alpha(opacity:0);
		background: none;
		margin: 0;
		display: block;
	}

/* profile-info-mini */

.logoff-icon {
	background: url(/Images/logoff.png) no-repeat center top;
	width: 17px;
	height: 20px;
	display: inline-block;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.administration-icon {
	background: url(/Images/tools.png) no-repeat center top;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.settings-icon {
	background: url(/Images/settings.png) no-repeat center top;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.bookmark-icon {
	background: url(/Images/bookmark.png) no-repeat center top;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.profile-icon {
	background: url(/Images/user.png) no-repeat center top;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.private-message-icon {
	background: url(/Images/private-message.png) no-repeat center top;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.profile-info-mini {
	position: absolute;
	background-color: transparent;
	z-index: 1000;
	right: -203px;
}

	.profile-info-mini .transparent-border .hide-profile {
		position: absolute;
		width: 75%;
		padding: 2px;
		margin: 0 auto;
		text-align: center;
		background-color: rgba(40, 40, 40, 0.8);
		border: 1px solid rgba(255, 255, 255, 0.8);
		border-top: none;
		border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		-webkit-border-radius: 0 0 4px 4px;
		font-weight: bold;
		color: white;
		text-shadow: 1px 1px 1px black;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		bottom: 5px;
		left: 0;
		right: 0;
		z-index: -1;
		opacity: 0;
	}

	.profile-info-mini:hover .transparent-border .hide-profile {
		bottom: -18px;
		opacity: 1;
	}

	.profile-info-mini .transparent-border .hide-profile:hover {
		cursor: pointer;
	}

	.profile-info-mini .transparent-border {
		background-color: transparent;
		border: 5px solid rgba(0,0,0,0.45);
		width: 195px;
	}

		.profile-info-mini .transparent-border .photo-background {
			background-color: rgba(0, 0, 0, 0.40);
		}

			.profile-info-mini .transparent-border .photo-background .photo-container {
				background-color: white;
				background: url(http://localhost:14631/Images/14.png);
				padding-top: 15px;
				padding-bottom: 15px;
			}

				.profile-info-mini .transparent-border .photo-background .photo-container .profile-photo {
					width: 150px;
					height: 150px;
					margin: auto;
					position: relative;
					-moz-box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 5px #363636;
					-webkit-box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 5px #363636;
					box-shadow: 0 0 0 3px #f6f6f6, 0 0 0 5px #363636;
				}

					.profile-info-mini .transparent-border .photo-background .photo-container .profile-photo img {
						max-width: 150px;
						max-height: 150px;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}

		.profile-info-mini .transparent-border .profile {
			z-index: 3;
			background-color: white;
		}

			.profile-info-mini .transparent-border .profile .section-module-header {
				height: 31px;
				text-align: left;
				box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
			}

				.profile-info-mini .transparent-border .section-module-header .module-title,
				.profile-info-mini .transparent-border .profile .section-module-header .module-title {
					padding: 6px;
					padding-left: 7px;
					font-size: 17px;
					text-transform: none;
					position: relative;
					width: 100%;
				}

			.profile-info-mini .transparent-border .profile .info-body {
				margin: 5px;
				margin-bottom: 0;
				padding-bottom: 1px;
			}

				.profile-info-mini .transparent-border .profile .info-body a {
					display: block;
					margin-top: 5px;
					margin-bottom: 5px;
					border: 1px solid rgb(153, 153, 153);
					padding: 3px;
					padding-left: 5px;
					position: relative;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
					background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
					background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
					background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
					background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
				}

					.profile-info-mini .transparent-border .profile .info-body a:active {
						box-shadow: inset 2px 2px 1px rgba(0,0,0,0.1);
					}

					.profile-info-mini .transparent-border .profile .info-body a .administration-icon,
					.profile-info-mini .transparent-border .profile .info-body a .settings-icon,
					.profile-info-mini .transparent-border .profile .info-body a .profile-icon,
					.profile-info-mini .transparent-border .profile .info-body a .bookmark-icon,
					.profile-info-mini .transparent-border .profile .info-body a .private-message-icon {
						position: absolute;
						right: 5px;
						top: 2px;
					}

			.profile-info-mini .transparent-border .profile .section-module-header .module-title .logoff-wrapper {
				position: absolute;
				right: 0;
				top: 0;
				display: inline-block;
				width: 35px;
				height: 30px;
				border-left: 1px solid rgb(160, 160, 160);
				z-index: 1;
			}

				.profile-info-mini .transparent-border .profile .section-module-header .module-title .logoff-wrapper:hover {
					cursor: pointer;
				}

					.profile-info-mini .transparent-border .profile .section-module-header .module-title .logoff-wrapper:hover .logoff-icon {
						background: url(/Images/logoff-active.png);
						width: 20px;
						right: 6px;
					}

				.profile-info-mini .transparent-border .profile .section-module-header .module-title .logoff-wrapper:active {
					box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
				}

			.profile-info-mini .transparent-border .profile .section-module-header .module-title .logoff-icon {
				position: absolute;
				right: 9px;
				top: 5px;
			}

			.profile-info-mini .transparent-border .profile .info-body .info {
				text-align: center;
			}

				.profile-info-mini .transparent-border .profile .info-body .info span {
					display: block;
					margin-top: 5px;
				}

					.profile-info-mini .transparent-border .profile .info-body .info span.banner {
						width: 175px;
						height: 25px;
					}

.no-result {
	border: 1px solid #D1D1D1;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

/*progressbar*/

.progressbar {
	width: 200px;
	height: 22px;
	margin: 0 12px 7px 12px;
	margin-bottom: 7px;
	display: none;
}

.progressbarlabel {
	width: 200px;
	height: 22px;
	position: absolute;
	text-align: center;
	font-size: small;
}

.ui-progressbar .ui-progressbar-value {
	margin: 0;
}

/* tabs */

.ui-tabs {
	padding: 0;
}

.ui-tabs-vertical {
	width: 100%;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.ui-widget-header {
	background: white;
	border: none;
}

.ui-widget-content {
	border: none;
	background: white;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: 0;
	float: left;
	width: 170px;
	margin-top: 10px;
	margin-left: 10px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: rgb(68, 68, 68);
	font-weight: normal;
	font-family: 'Lily Script One', helveti;
	font: 18px 'PT Sans Narrow', Arial, sans-serif;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: white;
}

/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #f6f6f6 url("/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
}*/

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 95%;
	float: right;
	border: 1px solid #D1D1D1;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

	.ui-tabs-vertical .ui-tabs-nav li a {
		display: block;
		width: 100%;
		text-align: center;
	}

.ui-tabs-vertical .ui-tabs-panel {
	padding: 10px;
	padding-bottom: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
	width: 800px;
	border: 1px solid #D1D1D1;
}

	.ui-tabs-vertical .ui-tabs-panel h2 {
		font-weight: normal;
		font-family: 'Lily Script One', helveti;
		font: 18px 'PT Sans Narrow', Arial, sans-serif;
		margin-top: 10px;
		margin-bottom: 10px;
	}

.ui-tabs .ui-tabs-nav li {
	margin: 0;
	margin-bottom: 2px;
}

	.ui-tabs .ui-tabs-nav li.ui-tabs-active {
		margin: 0;
		margin-bottom: 2px;
		padding: 0;
		width: 100%;
	}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: rgba(136, 136, 136, 0.1);
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 10px 5px 10px 5px;
}

.ui-widget-content .filter {
	height: 20px;
	margin: 20px 0 10px 0;
}

	.ui-widget-content .filter .sort {
		float: left;
		margin-top: 5px;
		margin-bottom: 5px;
		position: relative;
		outline: none;
		cursor: pointer;
	}

		.ui-widget-content .filter .sort .sort-changeable {
			position: absolute;
			top: 0;
			left: 80px;
			width: 120px;
			display: inline-block;
			padding-left: 5px;
		}

			.ui-widget-content .filter .sort .sort-changeable .sort-name {
				text-decoration: underline;
				font-style: italic;
			}

		.ui-widget-content .filter .sort .sort-dropdown {
			position: absolute;
			top: 25px;
			left: 0;
			background: #fff;
			list-style: none;
			font-weight: normal;
			width: 120px;
			padding: 5px 0 5px 0;
			border: 1px solid #a8acad;
			display: none;
		}

			.ui-widget-content .filter .sort .sort-dropdown:before {
				left: 10px;
			}

			.ui-widget-content .filter .sort .sort-dropdown:before {
				content: "";
				position: absolute;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 6px solid #5d5d5d;
				top: -6px;
			}

			.ui-widget-content .filter .sort .sort-dropdown li {
				padding-left: 5px;
				cursor: pointer;
			}

				.ui-widget-content .filter .sort .sort-dropdown li:hover {
					background-color: #ECECEC;
				}

	.ui-widget-content .filter .search, .ui-widget-content .filter .role-search {
		float: right;
		width: 170px;
		border: 1px solid #a8acad;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.ui-widget-content .filter .search-btn, .ui-widget-content .filter .role-search-btn {
		background: url(/Images/icon_search.png) no-repeat 2px 1px #FFF;
		border-left: 1px solid #a8acad;
		display: inline-block;
		float: right;
		width: 22px;
		height: 22px;
		cursor: pointer;
	}

	.ui-widget-content .filter .clear-btn, .ui-widget-content .filter .role-clear-btn {
		background: url(/Images/clear-input.png) no-repeat 0 -1px #FFF;
		border: 1px solid #a8acad;
		border-right: none;
		display: none;
		float: right;
		width: 22px;
		height: 24px;
		cursor: pointer;
	}

		.ui-widget-content .filter .search-btn:active, 
		.ui-widget-content .filter .clear-btn:active,
		.ui-widget-content .filter .role-search-btn:active, 
		.ui-widget-content .filter .role-clear-btn:active {
			box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
		}

	.ui-widget-content .filter .search input, .ui-widget-content .filter .role-search input {
		border: 0;
		width: 142px;
		padding: 2px;
		padding-left: 5px;
		padding-right: 0;
	}

.ui-widget-content .users table {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 10px;
}

	.ui-widget-content .users table thead th {
		text-align: center;
		font-weight: normal;
		font-family: 'Lily Script One', helveti;
		font: 16px 'PT Sans Narrow', Arial, sans-serif;
		background-color: #F0F0F0;
		padding: 3px;
		border-right: 1px solid white;
	}

	.ui-widget-content .users table tbody td {
		padding: 3px;
		border-bottom: 1px solid #D1D1D1;
	}

		.ui-widget-content .users table tbody td.email a {
			color: #B31919;
		}

			.ui-widget-content .users table tbody td.email a:hover {
				text-shadow: 0 0 0 transparent, 0 0 1px rgba(255, 102, 102, 0.5);
			}

		.ui-widget-content .users table tbody td.user-name a.darkred:hover {
			text-shadow: 0 0 0 transparent, 0 0 1px rgba(255, 102, 102, 0.5);
		}

		.ui-widget-content .users table tbody td.user-name a.green:hover {
			text-shadow: 0 0 0 transparent, 0 0 2px rgba(117, 255, 98, 0.5);
		}

		.ui-widget-content .users table tbody td.user-name a.orange:hover {
			text-shadow: 0 0 0 transparent, 0 0 2px rgba(255, 192, 98, 0.5);
		}

		.ui-widget-content .users table tbody td.buttons {
			text-align: left;
		}

			.ui-widget-content .users table tbody td.buttons a {
				border: 1px solid #D1D1D1;
				display: inline-block;
				padding: 5px 7px 5px 7px;
				margin-right: 2px;
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}

				.ui-widget-content .users table tbody td.buttons a.delete {
					background-color: rgb(218, 58, 58);
					color: white;
				}

				.ui-widget-content .users table tbody td.buttons a.banned {
					background-color: rgb(255, 154, 45);
					color: white;
				}

				.ui-widget-content .users table tbody td.buttons a.unbanned {
					background: url(/Images/blocked_card.png) no-repeat;
					background-color: rgb(255, 154, 45);
					color: white;
				}

				.ui-widget-content .users table tbody td.buttons a.activation {
					background-color: rgb(23, 146, 33);
					color: white;
				}

				.ui-widget-content .users table tbody td.buttons a.settings {
					background-color: rgb(100, 100, 100);
					color: white;
				}

				.ui-widget-content .users table tbody td.buttons a:active {
					-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
					-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
					box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
				}

.green {
	color: green !important;
}

.orange {
	color: rgb(213, 111, 0) !important;
}

.darkred {
	color: #B31919 !important;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

#role-management hr {
	margin: 0;
	margin-bottom: 5px;
}

#role-management .container {
	margin-bottom: 10px;
	vertical-align: middle;
	position: relative;
	height: 232px;
}

	#role-management .container .role-container {
		border: 1px solid #D1D1D1;
		width: 100%;
		height: 200px;
		padding: 10px;
		padding-right: 17px;
		display: inline-block;
		background-color: white;
		overflow-y: scroll;
	}

		#role-management .container .role-container.drop {
			box-shadow: 0 0 5px rgba(0,0,0,0.4);
		}

	#role-management .container .container-name {
		width: 100%;
		display: inline-block;
		font-weight: bold;
		font-family: 'Lily Script One', helveti;
		font: 17px 'PT Sans Narrow', Arial, sans-serif;
		border: 1px solid black;
		border-right: none;
		background-color: black;
		padding: 5px;
		color: white;
		text-align: center;
	}

	#role-management .container .role-container .draggable {
		display: inline-block;
		width: auto;
		text-align: center;
		margin-right: 10px;
	}

		#role-management .container .role-container .draggable:hover {
			cursor: move;
		}

	#role-management .container .role-container span img {
		display: block;
		margin-right: auto;
		margin-left: auto;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}