/* Tags */

body {
	font: 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
	background: url(/Images/background_body.png);
}

img {
	border: 0 none;
	max-width: 1920px;
	max-height: 1200px;
}

hr {
	margin-top: 5px;
	background-color: #000000;
}

footer {
	margin-top: 10px;
}

	footer p {
		text-align: center;
		color: white;
		min-height: 100px;
	}

input[type=text]:focus, input[type=password]:focus, input[type=button]:focus, input[type=submit]:focus, button[type=submit]:focus, a:focus, select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

select:hover {
	cursor: pointer;
}

select option:hover {
	cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus {
	color: black;
}

input[type=button]:focus {
	color: white;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
	color: transparent !important;
}

input[type=text]:focus::-moz-placeholder, input[type=password]:focus::-moz-placeholder {
	color: transparent !important;
}

input[type=text]:focus::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder {
	color: transparent !important;
}

a {
	text-decoration: none;
	color: rgb(220,0,0);
}

/* Id */

#galleria {
	height: 400px;
}

	#galleria, .galleria-container, .galleria-stage, .galleria-images, #galleria .galleria-image, #galleria .galleria-image img {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

		#galleria .galleria-thumbnails-container .galleria-image, #galleria .galleria-thumbnails-container .galleria-image img {
			border-radius: 1px;
			-moz-border-radius: 1px;
			-webkit-border-radius: 1px;
		}

/* Classes */

.color-main {
	color: #B31919;
	font-weight: bold;
}

.log-off {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 15px;
}

	.log-off span {
		color: white;
		display: inline-block;
		margin-right: 5px;
	}

		.log-off span a {
			color: white;
			font-size: 18px;
		}

			.log-off span a:hover {
				text-shadow: 2px 2px 2px black, 0 0 0.8em white;
			}

			.log-off span a:focus {
				color: white;
				display: inline-block;
				margin-right: 5px;
			}

	.log-off > a {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		background: #B31919;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
		cursor: pointer;
		display: inline-block;
		width: 90px;
		text-align: center;
		padding: 6px;
		border: 1px solid #B31919;
	}

		.log-off > a:active {
			border: 1px solid #191919 !important;
			box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
			padding: 6px;
		}

.cursor-pointer {
	cursor: pointer;
}

.position-absolute {
	position: absolute;
}

.wrapper {
	width: 1020px;
	margin: 0 auto;
}

.section-menu {
	background: url(/Images/background_menu.png) repeat-x center top;
	border-top: 1px solid #333;
	width: 1020px;
	min-height: 37px;
	max-height: 37px;
	position: fixed;
	z-index: 500;
}

	.section-menu .menu-holder {
		width: 960px;
		margin: 0 auto;
	}

.section-shadow {
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.section {
	padding-left: 15px;
	padding-right: 15px;
}

.section-header {
	position: relative;
	height: 150px;
	border-bottom: 1px solid #000;
	border-top: 1px solid rgb(50, 50, 50);
	background: url(/Images/background_header.png) no-repeat center top;
	z-index: 501;
	margin-top: 2px;
}

.emblem {
	position: absolute;
	left: 55px;
}

	.emblem img.full-size {
		width: auto;
	}

	.emblem img {
		width: 145px;
	}

.dice-emblem {
	position: absolute;
	right: 88px;
	top: 90px;
}

.ea-emblem {
	position: absolute;
	right: 200px;
	top: 80px;
}

.frostbite-emblem {
	position: absolute;
	right: 0;
	top: 75px;
}

.team-name-emblem {
	position: absolute;
	left: 200px;
	top: 25px;
}

.section-radius {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.section-slider {
	background: white;
	height: 400px;
	clear: both;
	margin-bottom: 115px;
}

.section-slider-items {
	background: rgba(40, 40, 40, 0.5);
	margin: 5px 0;
	height: 100px;
	clear: both;
}

.section-body {
	background: transparent;
	margin-top: 45px;
}

.section-body-item-60 {
	width: 710px;
	height: 920px;
	float: left;
	margin-bottom: 10px;
}

.section-body-item-right {
	width: 300px;
	height: 300px;
	float: right;
	margin-bottom: 10px;
}

.margin-none {
	margin-bottom: 0 !important;
}

.section-module-header {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #fff;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.1) inset;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

	.section-module-header .module-title {
		color: #B31919;
		font: 18px 'PT Sans Narrow', Arial, sans-serif;
		padding: 9px;
		text-transform: uppercase;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

		.section-module-header .module-title > a {
			vertical-align: middle;
			line-height: 33px;
			text-shadow: -1px -1px 1px #fff;
		}

.section-module-body {
	border: 10px solid rgba(0, 0, 0, 0.4);
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Login forms */

.login-buttons {
	right: 10px;
	position: absolute;
	top: 15px;
}

	.login-buttons .tab {
		position: relative;
		display: inline-block;
	}

		.login-buttons .tab > input {
			position: relative;
			border: 1px solid #B31919;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
			background: #B31919;
			font-family: 'Ubuntu', 'Lato', sans-serif;
			color: white;
			font-weight: 700;
			font-size: 15px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
			cursor: pointer;
			display: block;
			float: left;
			width: 120px;
			text-align: center;
			padding: 6px;
		}

		.login-buttons .tab .login-form {
			position: absolute;
			display: none;
		}

			.login-buttons .tab .login-form.login {
				left: -180px;
				top: 44px;
				opacity: 1;
			}

			.login-buttons .tab .login-form.register {
				left: -230px;
				top: 44px;
				opacity: 1;
			}

		.login-buttons .tab > .active-tab {
			background: rgba(47, 47, 47, 0.95);
			border: 1px solid #191919 !important;
		}

/* Login form */

.login-form {
	font-family: 'Ubuntu', 'Lato', sans-serif;
	font-weight: 400;
	width: 300px;
	padding: 10px;
	right: 110px;
	background: rgba(20, 20, 20, 0.9);
	border: 1px solid #191919;
	box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
	z-index: 502;
}

	.login-form:after {
		content: "";
		height: 1px;
		width: 30%;
		position: absolute;
		top: 0;
		background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
		background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	}

	.login-form.login:after {
		left: 196px;
	}

	.login-form.register:after {
		left: 236px;
	}

	.login-form:before {
		content: "";
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #5d5d5d;
		top: -10px;
	}

	.login-form.login:before {
		left: 232px;
	}

	.login-form.register:before {
		left: 282px;
	}

	.login-form label {
		width: 50%;
		float: left;
		padding-top: 9px;
		color: #ddd;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 0 1px 0 #000;
		text-indent: 10px;
		font-weight: 700;
		cursor: pointer;
	}

	.login-form input[type=text], .login-form input[type=password] {
		width: 50%;
		float: left;
		padding: 8px 5px;
		margin-bottom: 10px;
		font-size: 12px;
		background: #1f2124;
		background: -moz-linear-gradient(#1f2124, #27292c);
		background: -ms-linear-gradient(#1f2124, #27292c);
		background: -o-linear-gradient(#1f2124, #27292c);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
		background: -webkit-linear-gradient(#1f2124, #27292c);
		background: linear-gradient(#1f2124, #27292c);
		border: 1px solid #000;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		border-radius: 3px;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: #fff;
	}

		.login-form input[type=text]:focus, .login-form input[type=password]:focus {
			color: white;
		}

	.login-form input[type=button] {
		width: 100%;
		padding: 6px 5px;
		border: 1px solid #B31919;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		border-radius: 3px;
		background: #B31919;
		cursor: pointer;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	}

		.login-form input[type=button]:hover {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
		}

		.login-form input[type=button]:active {
			background: #B31919;
			box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
			border-color: #000;
			border-color: rgba(0,0,0,0.9);
		}


	.login-form input[type=checkbox] {
		margin-left: 10px;
		vertical-align: middle;
	}

	.login-form label[for=RememberMe] {
		width: auto;
		float: none;
		display: inline-block;
		text-transform: capitalize;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 0;
		text-indent: 2px;
	}

	.login-form.register {
		width: 350px;
	}

		.login-form.register p:last-child {
			float: right;
			width: 50%;
		}

	.login-form.login p:nth-child(4), .login-form.login p:nth-child(5) {
		float: left;
		width: 50%;
	}

	.login-form .login-link {
		text-align: center;
		margin: 40px 0 10px 0;
	}

		.login-form .login-link a {
			color: #ddd;
		}

			.login-form .login-link a:hover {
				color: white;
			}

/* Navigation */

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-bottom: 3px;
	vertical-align: middle;
	border-top: 4px solid #bb0000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0 dotted;
}

.menu {
	margin: 0 10px;
}

	.menu .dividing-line {
		width: 2px;
		background: url(/Images/dividing-line.png) no-repeat center top;
	}

	.menu .menu-cell {
		width: 1%;
		vertical-align: middle;
		position: relative;
		height: 34px;
		line-height: 29px;
	}

	.menu a.menu-link {
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		padding: 0 7px;
	}

		.menu a.menu-link span {
			display: inline-block;
			color: #FFF;
			font: 14px Tahoma, Palatino Linotype;
		}

			.menu a.menu-link span:hover {
				text-shadow: 2px 2px 2px black, 0 0 1.5em white;
			}

	.menu .search-cell {
		width: auto;
		text-align: right;
	}

		.menu .search-cell .input-group {
			float: right;
			height: 34px;
			margin-right: -43px;
			white-space: nowrap;
			padding: 8px 10px 0;
		}

		.menu .search-cell .search-field {
			color: #8f8f8f;
			width: 180px;
			height: 24px;
			font-size: 12px;
			background: url(/Images/icon_search.png) no-repeat right 2px #FFF;
			border: 1px solid #a8acad;
			padding: 0 5px;
			font: 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}

			.menu .search-cell .search-field:focus {
				color: black;
			}

	.menu .menu-drop {
		position: absolute;
		left: -9999px;
		opacity: 0;
		-webkit-transition: 0.25s linear opacity;
		width: auto;
		background: rgba(59, 59, 59, 0.97);
		z-index: 500;
		box-shadow: 1px 2px 4px #333;
		padding: 5px 0 5px;
		margin-top: 1px;
	}

		.menu .menu-drop a {
			white-space: nowrap;
			display: block;
		}

	.menu .menu-cell:hover .menu-drop {
		left: -3px;
		opacity: 1;
	}

		.menu .menu-cell:hover .menu-drop a {
			text-decoration: none;
			-webkit-transition: -webkit-transform 0.075s linear;
		}

	.menu .menu-cell .menu-drop a.menu-drop-link {
		color: white;
		display: block;
		text-decoration: none;
		white-space: nowrap;
		margin: 1px 0;
		padding: 0 12px 0 12px;
	}

		.menu .menu-cell .menu-drop a.menu-drop-link:hover {
			background: #626262;
			color: #FFF;
			box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.2);
		}

/* Error */

.validation-summary-errors {
	border: 1px solid #921111;
	color: white;
	margin-bottom: 5px;
	background-color: rgba(100, 17, 17, 0.3);
}

	.validation-summary-errors ul {
		padding: 8px;
		list-style: none;
	}

		.validation-summary-errors ul li {
			padding: 2px;
		}

.input-validation-error {
	border: 1px solid #921111 !important;
}

/* Simple page */

.simple-page-body {
	border: 10px solid rgba(0,0,0,0.8);
	background: white;
	position: relative;
}

	.simple-page-body h2 {
		margin-top: 20px;
		font-size: 14px;
		text-align: center;
	}

	.simple-page-body hr {
		background-color: rgba(0, 0, 0, 0.4);
		margin-right: 10px;
		margin-left: 10px;
	}

	.simple-page-body .form {
		position: relative;
		margin: 30px auto;
		width: 400px;
	}

		.simple-page-body .form img {
			position: absolute;
			top: 0;
		}

			.simple-page-body .form img.facebook {
				right: -260px;
			}

			.simple-page-body .form img.vkontakte {
				left: -260px;
			}

	.simple-page-body .form-info {
		margin-bottom: 10px;
	}

		.simple-page-body .form-info h3 {
			text-indent: 10px;
			font-size: 12px;
			padding: 10px;
			font-weight: normal;
			font-style: italic;
		}

	.simple-page-body .form .validation-summary-errors {
		color: #B31919;
		background-color: rgba(100, 17, 17, 0.2);
		margin-bottom: 10px;
	}

	.simple-page-body .form label {
		float: left;
		padding-top: 7px;
		/* color: #B01F1F; */
		font-size: 15px;
		/* text-transform: uppercase; */
		letter-spacing: 0;
		/* font-weight: 700; */
		cursor: pointer;
	}

	.simple-page-body .form input[type=text],
	.simple-page-body .form input[type=password],
	.simple-page-body .form select {
		width: 165px;
		float: right;
		padding: 8px 5px;
		margin-bottom: 10px;
		font-size: 12px;
		border: 1px solid #000;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		border-radius: 3px;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: black;
	}

	.simple-page-body .form input[type=button], .simple-page-body .form input[type=submit] {
		float: right;
		padding: 6px 5px;
		border: 1px solid #B31919;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		border-radius: 3px;
		background: #B31919;
		cursor: pointer;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
		width: 165px;
		float: right;
	}

		.simple-page-body .form input[type=button]:hover, .simple-page-body .form input[type=submit]:hover {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
		}

		.simple-page-body .form input[type=button]:active, .simple-page-body .form input[type=submit]:active {
			background: #B31919;
			box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
		}

	.simple-page-body .message-body {
		height: 275px;
		text-align: center;
		margin-top: 135px;
	}

		.simple-page-body .message-body h2 {
			font-weight: normal;
			font-size: 1.5em;
		}

	.simple-page-body .message {
		display: block;
		text-align: center;
		margin: 20px;
		font-size: 14px;
	}

.success-message {
	border: 1px solid green;
	background-color: rgba(0, 128, 0, 0.5);
	padding: 10px;
	margin-bottom: 10px;
}

/* Error Page */

.error-page-body {
	height: 400px;
	border: 10px solid rgba(0,0,0,0.8);
	background: white;
}

	.error-page-body h2 {
		text-align: center;
		margin-top: 70px;
	}

/* Successful page */

.success-body {
	height: 400px;
	border: 10px solid rgba(0,0,0,0.8);
	background: white;
}

	.success-body div {
		font-size: 15px;
		text-align: center;
		margin-top: 135px;
	}

		.success-body div h2 {
			font-weight: normal;
		}

		.success-body div span {
			display: inline-block;
			margin-top: 10px;
		}

			.success-body div span a {
				color: rgb(220,0,0);
				font-style: italic;
				opacity: 0.5;
			}

				.success-body div span a:hover {
					opacity: 1;
				}

/* External Login*/

.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.down-arrow {
	border-top: 1px solid rgb(242, 242, 242);
	border-bottom: 1px solid rgb(242, 242, 242);
	padding: 9px 0;
	width: 100%;
	height: 10px;
	background: url(/Images/arrow-social-down.png) no-repeat center;
	opacity: 0.7;
}

.up-arrow {
	background: url(/Images/arrow-social-up.png) no-repeat center;
}

.down-arrow:hover {
	opacity: 1;
	cursor: pointer;
}

.social-list {
	height: 70px;
	position: relative;
	margin: 5px 0;
	display: none;
}

.social-vk-button, .social-facebook-button {
	position: absolute;
	right: 10px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	border: none;
}

	.social-vk-button:active, .social-facebook-button:active {
		box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
	}

.social-vk-button {
	background: url(/Images/vk-icon.png) no-repeat top center;
	top: 43px;
}

.social-facebook-button {
	background: url(/Images/facebook.png) no-repeat top center;
	top: 3px;
}

.social-vk-button:hover {
	background: url(/Images/vk-icon-active.png) no-repeat top center;
}

.social-facebook-button:hover {
	background: url(/Images/facebook-active.png) no-repeat top center;
}

.social-vk-button:hover, .social-facebook-button:hover {
	cursor: pointer;
	opacity: 1;
}

.social-vk-label, .social-facebook-label {
	color: white;
	position: absolute;
	left: 0;
	width: 235px;
	opacity: 0.9;
	cursor: default;
	font-weight: 700;
	text-indent: 10px;
}

.social-vk-label {
	top: 50px;
}

.social-facebook-label {
	top: 11px;
}

.arrow-page-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: url(/Images/page-up.png) no-repeat center;
	opacity: 0.5;
	display: none;
}

	.arrow-page-up:hover {
		opacity: 0.8;
		cursor: pointer;
	}

/* User Profile */

.profile-tabs {
	min-height: 360px;
}

.simple-page-body .back-profile {
	margin: 25px;
}

.simple-page-body .back-profile .button {
	padding-left: 10px;
	padding-right: 10px;
}

.back-arrow {
	background: url(/Images/arrow-back.png) no-repeat top center;
	width: 13px;
	height: 13px;
	display: inline-block;
	margin-right: 7px;
}

	.profile-tabs .btn-file {
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: 100px;
	}

		.profile-tabs .btn-file input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			filter: alpha(opacity=0);
			opacity: 0;
			min-height: 33px;
			width: 100px;
		}

	.profile-tabs .btn {
		padding: 7px 5px;
		border: 1px solid #B31919;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		border-radius: 3px;
		background: #B31919;
		cursor: pointer;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	}

		.profile-tabs .btn:hover {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
		}

		.profile-tabs .btn:active {
			background: #B31919;
			box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
		}

	.profile-tabs label[for=tab-advance] {
		left: 152px;
	}

	.profile-tabs label[for=tab-bind] {
		left: 338px;
	}

	.profile-tabs label[for=tab-change-pass] {
		left: 433px;
	}

	.profile-tabs .tabs > li > input[type=radio] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.profile-tabs .tabs {
		width: 95%;
		float: none;
		list-style: none;
		padding: 0;
		margin: 20px auto;
		margin-top: 60px;
	}

		.profile-tabs .tabs > li {
			margin-right: 2px;
		}

			.profile-tabs .tabs > li > label {
				display: block;
				padding: 5px 20px;
				top: 110px;
				border-radius: 3px 3px 0 0;
				color: rgb(68, 68, 68);
				font-weight: normal;
				font-family: 'Lily Script One', helveti;
				background: rgba(255,255,255,0.2);
				cursor: pointer;
				position: absolute;
				font: 18px 'PT Sans Narrow', Arial, sans-serif;
				border: 1px solid #D1D1D1;
			}

	.profile-tabs [id^=tab]:checked + label {
		padding: 9px 20px;
		color: black;
		top: 102px;
		border: 1px solid #D1D1D1;
		background: rgb(255,255,255);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	}

	.profile-tabs [id^=tab]:checked ~ [id^=tab-content] {
		display: block;
	}

	.profile-tabs .tab-content {
		z-index: 2;
		display: none;
		text-align: left;
		width: 100%;
		line-height: 140%;
		background: white;
		box-sizing: border-box;
		border: 1px solid #D1D1D1;
	}

.profile-left-bar {
	margin: 17px;
	margin-left: 90px;
	float: left;
}

	.profile-left-bar .user-photo {
		width: 200px;
		height: 200px;
		border: 1px #e0e0e0 solid;
		border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-box-shadow: 0 0 0 6px #f6f6f6, 0 0 0 7px #cccccc;
		-webkit-box-shadow: 0 0 0 6px #f6f6f6, 0 0 0 7px #cccccc;
		box-shadow: 0 0 0 6px #f6f6f6, 0 0 0 7px #cccccc;
		position: relative;
	}

		.profile-left-bar .user-photo img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 200px;
			max-height: 200px;
		}

	.profile-left-bar .user-buttons {
		margin-top: 20px;
		width: 200px;
	}

		.profile-left-bar .user-buttons a {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
			background: #B31919;
			font-family: 'Ubuntu', 'Lato', sans-serif;
			color: white;
			font-weight: 700;
			font-size: 15px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
			cursor: pointer;
			display: inline-block;
			width: 100%;
			text-align: center;
			padding: 6px;
			border: 1px solid #B31919;
			margin-top: 3px;
		}

			.profile-left-bar .user-buttons a:active {
				box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
				padding: 6px;
			}

table.profile-info {
	width: 60%;
	margin: 10px 20px 10px auto;
	border-collapse: collapse;
	border-spacing: 0;
}

	table.profile-info tr td {
		border: 1px solid #a8acad;
		width: 50%;
		padding: 5px;
	}

		table.profile-info tr td:first-child {
			width: 40%;
			background-color: #F5F5F5;
		}

		table.profile-info tr td:last-child {
			width: 60%;
		}

		table.profile-info tr td.title {
			border: 1px solid #333;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			color: white;
			padding: 10px;
			margin: 5px 0;
			background: url(/Images/background_menu.png) repeat-x center top;
		}

		table.profile-info tr td.empty {
			padding: 1px;
		}

/* date picker */

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 499;
	display: none;
	float: left;
	min-width: 160px;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
	font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
	margin-top: 6px;
}

.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	background-color: #B31919;
}

.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	background-color: #B31919;
}


/* overlay */

.icon-remove {
	background: url(/Images/delete.png) no-repeat top center;
	margin-top: 2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
}

.hide {
	display: none;
}

.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .8;
	filter: alpha(opacity=80);
}

	.close:hover, .close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: 1;
		filter: alpha(opacity=100);
	}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.modal {
	width: 500px;
	margin: -250px 0 0 -250px;
	top: 53%;
}

.modal-body {
	text-align: center;
	font: 17px 'PT Sans Narrow', Arial, sans-serif;
	padding: 40px;
}

.modal-header {
	border-bottom: 1px inset #CACACA;
}

	.modal-header h3 {
		color: #B31919;
		font: 18px 'PT Sans Narrow', Arial, sans-serif;
		text-transform: uppercase;
		margin-top: 5px;
	}

.button {
	padding: 6px 5px;
	border: 1px solid #B31919;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
	border-radius: 3px;
	background: #B31919;
	cursor: pointer;
	font-family: 'Ubuntu', 'Lato', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 15px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

	.button:hover {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
	}


	.button:active {
		background: #B31919;
		box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
	}

#btnOk {
	width: 100px;
}

.animated {
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

@-moz-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
}

@-o-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	-moz-animation-name: fadeOutDown;
	-o-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0);
	}

	1% {
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(0);
	}

	1% {
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(0);
	}

	1% {
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	1% {
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
