/* Tags */

body {
	font: 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
	background: url(/Images/background_body.png);
}

img {
	border: 0 none;
	max-width: 1920px;
	max-height: 1200px;
}

hr {
	margin-top: 5px;
	background-color: #000000;
}

footer p {
	text-align: center;
	color: white;
	min-height: 200px;
}

input[type=text]:focus, input[type=password]:focus, input[type=button]:focus {
	border: 1px solid transparent !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

input[type=text]:focus, input[type=password]:focus {
	color: black;
}

input[type=button]:focus {
	color: white;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
	color: transparent !important;
}

input[type=text]:focus:-moz-placeholder, input[type=password]:focus::-webkit-input-placeholder {
	color: transparent !important;
}

input[type=text]:focus::-moz-placeholder, input[type=password]:focus::-webkit-input-placeholder {
	color: transparent !important;
}

input[type=text]:focus:-ms-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
	color: transparent !important;
}

/* Classes */

.cursor-pointer {
	cursor: pointer;
}

.position-absolute {
	position: absolute;
}

.wrapper {
	width: 1020px;
	margin: 0 auto;
}

.fixed-top {
	border-top: 1px solid rgb(50, 50, 50);
	z-index: 9999;
	top: 0;
	position: fixed;
	width: 1020px;
	min-height: 150px;
	max-height: 150px;
	margin-top: 1px;
}

.section-shadow {
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.section {
	padding-left: 15px;
	padding-right: 15px;
}

.section-header {
	position: relative;
	height: 150px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	background: url(/Images/background_header.png) no-repeat center top;
}

.emblem {
	position: absolute;
	left: 53px;
}

	.emblem img.full-size {
		width: auto;
	}

	.emblem img {
		width: 145px;
	}

.ea-dice-emblem {
	position: absolute;
	right: -10px;
	top: 75px;
}

.frostbite-emblem {
	position: absolute;
	right: 0;
	top: 75px;
}

.team-name-emblem {
	position: absolute;
	left: 170px;
	top: 25px;
}

.section-menu {
	background: url(/Images/background_menu.png) repeat-x center top;
	border-top: 1px solid #333;
	width: 100%;
	min-height: 37px;
	max-height: 37px;
}

	.section-menu .menu-holder {
		width: 960px;
		margin: 0 auto;
	}

.section-radius {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.section-slider {
	background: white;
	height: 400px;
	clear: both;
}

.section-slider-items {
	background: rgba(40, 40, 40, 0.5);
	margin-top: 5px;
	height: 100px;
	clear: both;
}

.section-body {
	background: transparent;
	margin-top: 200px;
	min-height: 920px;
}

.section-body-item-60 {
	background-color: white;
	width: 710px;
	height: 920px;
	float: left;
}

.section-body-item-right {
	background-color: white;
	width: 300px;
	height: 300px;
	float: right;
	margin-bottom: 10px;
}

.margin-none {
	margin-bottom: 0 !important;
}

.section-module-header {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #fff;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.1) inset;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

	.section-module-header .module-title {
		color: #B31919;
		font: 18px 'PT Sans Narrow', Arial, sans-serif;
		padding: 9px;
		text-transform: uppercase;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

		.section-module-header .module-title > a {
			vertical-align: middle;
			line-height: 33px;
			text-shadow: -1px -1px 1px #fff;
		}

.section-module-body {
	background-color: #f6f6f6;
	padding: 10px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Login forms */

.login-buttons {
	right: 10px;
	position: absolute;
}

	.login-buttons .tab {
		position: relative;
		display: inline-block;
		margin-top: 15px;
	}

		.login-buttons .tab > input {
			position: relative;
			border: 1px solid #B31919;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
			background: #B31919;
			font-family: 'Ubuntu', 'Lato', sans-serif;
			color: white;
			font-weight: 700;
			font-size: 15px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
			cursor: pointer;
			display: block;
			float: left;
			width: 120px;
			line-height: 30px;
			top: 2px;
			text-align: center;
			margin-bottom: 3px;
		}

		.login-buttons .tab .login-form {
			position: absolute;
			left: -9999px;
			opacity: 0;
		}

		.login-buttons .tab:hover .login-form.login {
			left: -180px;
			top: 44px;
			opacity: 1;
		}

		.login-buttons .tab:hover .login-form.register {
			left: -230px;
			top: 44px;
			opacity: 1;
		}

		.login-buttons .tab:hover > input {
			background: rgba(20, 20, 20, 0.95);
			border: 1px solid #191919 !important;
		}

	.login-buttons .layer {
		height: 25px;
		width: 120px;
		background-color: transparent;
		top: 25px;
		position: absolute;
	}

/* Login form */

.login-form {
	font-family: 'Ubuntu', 'Lato', sans-serif;
	font-weight: 400;
	width: 300px;
	padding: 10px;
	right: 110px;
	background: rgba(20, 20, 20, 0.95);
	border: 1px solid #191919;
	box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 0 16px 10px -8px rgba(0, 0, 0, 0.6);
	z-index: 10000;
}

	.login-form:after {
		content: "";
		height: 1px;
		width: 30%;
		position: absolute;
		top: 0;
		background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
		background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
		background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	}

	.login-form.login:after {
		left: 196px;
	}

	.login-form.register:after {
		left: 236px;
	}

	.login-form:before {
		content: "";
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #5d5d5d;
		top: -10px;
	}

	.login-form.login:before {
		left: 232px;
	}

	.login-form.register:before {
		left: 282px;
	}

	.login-form label {
		width: 50%;
		float: left;
		padding-top: 9px;
		color: #ddd;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 0 1px 0 #000;
		text-indent: 10px;
		font-weight: 700;
		cursor: pointer;
	}

	.login-form input[type=text], .login-form input[type=password] {
		width: 50%;
		float: left;
		padding: 8px 5px;
		margin-bottom: 10px;
		font-size: 12px;
		background: #1f2124;
		background: -moz-linear-gradient(#1f2124, #27292c);
		background: -ms-linear-gradient(#1f2124, #27292c);
		background: -o-linear-gradient(#1f2124, #27292c);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
		background: -webkit-linear-gradient(#1f2124, #27292c);
		background: linear-gradient(#1f2124, #27292c);
		border: 1px solid #000;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
		border-radius: 3px;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: #fff;
	}

		.login-form input[type=text]:focus, .login-form input[type=password]:focus {
			color: white;
		}

	.login-form input[type=button] {
		width: 100%;
		padding: 8px 5px;
		border: 1px solid #B31919;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
		border-radius: 3px;
		background: #B31919;
		cursor: pointer;
		font-family: 'Ubuntu', 'Lato', sans-serif;
		color: white;
		font-weight: 700;
		font-size: 15px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
	}

		.login-form input[type=button]:hover {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
		}

		.login-form input[type=button]:active {
			background: #B31919;
			box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
			border-color: #000;
			border-color: rgba(0,0,0,0.9);
		}


	.login-form input[type=checkbox] {
		margin-left: 10px;
		vertical-align: middle;
	}

	.login-form label[for=remember] {
		width: auto;
		float: none;
		display: inline-block;
		text-transform: capitalize;
		font-size: 11px;
		font-weight: 400;
		letter-spacing: 0;
		text-indent: 2px;
	}

	.login-form.register {
		width: 350px;
	}

		.login-form.register p:last-child {
			float: right;
			width: 50%;
		}

	.login-form.login p:nth-child(4), .login-form.login p:nth-child(5) {
		float: left;
		width: 50%;
	}

/* Navigation */

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-bottom: 3px;
	vertical-align: middle;
	border-top: 4px solid #bb0000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0 dotted;
}

.menu {
	margin: 0 10px;
}

	.menu .dividing-line {
		width: 2px;
		background: url(/Images/dividing-line.png) no-repeat center top;
	}

	.menu .menu-cell {
		width: 1%;
		vertical-align: middle;
		position: relative;
		height: 34px;
		line-height: 29px;
	}

	.menu a.menu-link {
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		padding: 0 7px;
	}

		.menu a.menu-link span {
			display: inline-block;
			color: #FFF;
			font: 14px Tahoma, Palatino Linotype;
		}

			.menu a.menu-link span:hover {
				text-shadow: 2px 2px 2px black, 0 0 1.5em white;
			}

	.menu .search-cell {
		width: auto;
		text-align: right;
	}

		.menu .search-cell .input-group {
			float: right;
			height: 34px;
			margin-right: -43px;
			white-space: nowrap;
			padding: 8px 10px 0;
		}

		.menu .search-cell .search-field {
			color: #8f8f8f;
			width: 180px;
			height: 24px;
			font-size: 12px;
			background: url(/Images/icon_search.png) no-repeat right 2px #FFF;
			border: 1px solid #a8acad;
			padding: 0 5px;
			font: 13px Verdana, Tahoma, Arial, Helvetica, sans-serif;
		}

			.menu .search-cell .search-field:focus {
				color: black;
			}

	.menu .menu-drop {
		position: absolute;
		left: -9999px;
		opacity: 0;
		-webkit-transition: 0.25s linear opacity;
		width: auto;
		background: rgba(59, 59, 59, 0.97);
		z-index: 1000;
		box-shadow: 1px 2px 4px #333;
		padding: 5px 0 5px;
		margin-top: 1px;
	}

		.menu .menu-drop a {
			white-space: nowrap;
			display: block;
		}

	.menu .menu-cell:hover .menu-drop {
		left: -3px;
		opacity: 1;
	}

		.menu .menu-cell:hover .menu-drop a {
			text-decoration: none;
			-webkit-transition: -webkit-transform 0.075s linear;
		}

	.menu .menu-cell .menu-drop a.menu-drop-link {
		color: white;
		display: block;
		text-decoration: none;
		white-space: nowrap;
		margin: 1px 0;
		padding: 0 12px 0 12px;
	}

		.menu .menu-cell .menu-drop a.menu-drop-link:hover {
			background: #626262;
			color: #FFF;
			box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.2);
		}
