@using LeagueSoldierDeathTeam.Site.Classes

<title>LSD Team: @ViewBag.Subject</title>
<style>
	a {
		color: #B31919;
		font-weight: bold;
	}
</style>
<table style="width: 90%; border: 0; font-family: Arial, Sans-Serif; font-size: 12px;">
	<tr><th style="text-align: left; padding: 20px 20px 20px 20px; color: #B31919; border-bottom: 1px solid #CCC; font-size: 1.2em;"><img src="/Images/emblem.png">&nbsp;@ViewBag.Subject</th></tr>
	<tr>
		<td style="padding: 20px 20px 20px 20px;height: 250px;vertical-align: top;">
			@RenderBody()
			<div style="margin-top: 20px;">Спасибо, ваш <span style="color: #b31919; font-size: 14px; font-weight: bold; ">LSD Team</span>.</div>
			<div style="font-size: 11px;"><a href="@AppConfig.HostName">@AppConfig.HostName</a></div>
		</td>
	</tr>
</table>

